.Tabs {
  width: 80vh;
  max-width: 600px;
  min-height: 50vh;
  background-color: #2f2e41;

  border: 3px solid #704fd3;
  border-top: 0;
  border-radius: 5px;

  margin: auto;
  box-sizing: border-box;
}

@media (max-width: 425px) {
  .Tabs {
    width: 70vh;
  }
}

@media (min-width: 1400px) {
  .Tabs {
    max-width: 1200px;
  }
}

.BotaoTab {
  margin-top: 0%;
  width: 49.9%;
  height: auto;
  border-top: solid 3px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-color: #704fd3;
  background-color: #704fd3;
}

#Direita {
  border-left: solid 0.25vh;
  border-left-color: white;
}
