.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6%;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.Logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.NavLinks {
  list-style: none;
  margin-right: 5%;
}

.NavLinks ul {
  display: flex;
  padding: 0;
}

.NavLinks li {
  margin-right: 20px;
}

.NavLinks li:last-child {
  margin-right: 0;
}

.NavLinks li a {
  text-decoration: none;
  color: #fff;
}

.NavLinks li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .Header {
    flex-direction: column;
  }

  .NavLinks {
    margin-top: 10px; /* Espaçamento entre logo e links */
  }
}
